<!--▼▼Content▼▼-->
<div class="content-wrap content-wrap_login">
	<div class="login-wrap">
		<div class="center mb2">
			<%= image_tag "acbw_light.svg", class: "login-image" %>
		</div>
		<%= form_for :session, url: login_path, class: "login" do |f| %>
			<div class="block block_nocolpad input-title">
				<%= f.text_field :user, class: "input", placeholder: "Who are you?" %>
			</div>
			<div class="block block_nocolpad input-title">
				<%= f.password_field :password, class: "input", placeholder: "Is this really you?" %>
			</div>
			<div class="block block_nocolpad center">
				<%= f.submit "Enter", class: "btn" %>
			</div>
		<% end %>
	</div>
</div>
<!--▲▲Content▲▲-->
