<div class="post-block post-block--category">
  <p class="category-smtxt">Category:</p>
  <h1 class="post-title post-title--category"><%= @category.category_name %></h1>
</div>

<ul class="list-wrap">
  <% @posts.each do |post| %>
  <li class="list-item">
    <div class="post-item">
      <p class="post-item__imgwrap">
        <% if post.thumb_image %>
          <%=
            link_to image_tag(post.thumb_image, alt: post.title, class: "post-item__img"),
            blog_post_path(post.slug)
          %>
        <% else %>
          <%=
          link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/acbw/assets/acbw_temp.png", alt: post.title, class: "post-item__img"),
          blog_post_path(post.slug)
          %>
        <% end %>
      </p>
      <div class="post-item__txtwrap">
        <p>
          <%= link_to post.title, blog_post_path(post.slug), class: "post-item__link" %>
        </p>
        <div class="flex">
          <p class="post-item__date"><%= post.date %></p>
          <p><%= link_to "Read post", blog_post_path(post.slug), class: "post-item__read" %></p>
        </div>
      </div>
    </div>
  </li>
  <% end %>
</ul>
