<main class="post-wrap">
  <ul class="list-wrap">
    <% @posts.each do |post| %>
    <li class="list-item">
      <div class="post-item">
        <p class="post-item__imgwrap">
          <% if post.thumb_image %>
            <%=
              link_to image_tag(post.thumb_image, alt: post.title, class: "post-item__img"),
              blog_post_path(post.slug)
            %>
          <% else %>
            <%=
              link_to image_tag("https://s3-ap-southeast-1.amazonaws.com/acbw/assets/acbw_temp.png", alt: post.title, class: "post-item__img"),
              blog_post_path(post.slug)
            %>
          <% end %>
        </p>
        <div class="post-item__txtwrap">
          <p>
            <%= link_to post.title, blog_post_path(post.slug), class: "post-item__link" %>
          </p>
          <div class="flex">
            <p class="post-item__date"><%= post.date.strftime("%a, %Y/%m/%d") %></p>
            <p class="post-item__readwrap"><%= link_to "Read post", blog_post_path(post.slug), class: "post-item__read" %></p>
          </div>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</main>
