<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "posts/adminnav", locals: {active: 'postlist'} %>
  </div>

  <div class="main-wrap">
    <div class="block block_nocolor block_nopadding">
      <h1 class="title">Posts</h1>
    </div>
    <div class="tablewrap">
      <table class="table">
        <thead class="table-head table-head_posts">
          <tr>
            <th class="th_posts-title">Post Title</th>
            <th class="th_posts-category">Category</th>
            <th class="th_posts-status">Status</th>
            <th class="th_posts-updated">Post Date</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, edit_post_path(post.id) %></td>
            <td><%= link_to "Tokyo Cycling Diary", edit_post_path(post.id) %></td>
            <td><%= link_to post.status, edit_post_path(post.id), class: "posts-"+post.status %></td>
            <td><%= post.date %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
