<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "common/adminnav" %>
  </div>

  <div class="main-wrap">
    <div class="block block_nocolor block_nopadding">
      <h1 id="posts-index" class="title">Posts</h1>
    </div>
    <% flash.each do |key, message| %>
      <div class="flash-notice"><%= message %></div>
    <% end %>
    <div class="tablewrap">
      <table class="table">
        <thead class="table-head table-head_posts">
          <tr>
            <th class="th_posts-title">Post Title</th>
            <th class="th_posts-category">Category</th>
            <th class="th_posts-status">Status</th>
            <th class="th_posts-updated">Post Date</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, edit_post_path(post.id) %></td>
            <% if post.category_id.present? %>
              <td><%= link_to post.category.category_name, categories_posts_path(post.category_id) %></td>
            <% else %>
              <td>No category</td>
            <% end %>
            <td><%= link_to post.status, edit_post_path(post.id), class: "posts-"+post.status %></td>
            <td><%= post.date %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
