<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "posts/adminnav", locals: {active: 'newpost'} %>
  </div>

  <%= form_for @post, url: posts_path, html: {id: "post-form", class: "post-form"} do |f| %>
    <div class="main-wrap main-wrap_postf">
      <div class="block block_nocolor block_nopadding">
        <h1 class="title">New Post</h1>
      </div>
      <div class="block block_nopadding input-title">
        <%= f.text_field :title, placeholder: "Post Title", class: "input" %>
      </div>
      <div class="postf">
        <ul class="postf-ul">
          <li class="postf-item"><button type="button" id="new-block" class="btn">New Block</button></li>
          <li class="postf-item"><button type="button" id="new-img" class="btn">New Image</button></li>
          <li class="postf-item"><button type="button" id="del-block" class="btn">Delete Block</button></li>
        </ul>
        <div id="postf-content" class="postf-content">
          <div class="post-block">
            <p>Insert content here</p>
          </div>
          <div class="post-block">
            <p>Second content example</p>
          </div>
        </div>
        <%= f.hidden_field :content %>
      </div>
    </div>

    <div class="pside">
      <div class="block block_padding">
        <p class="publ" id="publishwrap"><button type="button" id="published" class="publ-btn publ-btn_published">Published</button><button type="button" id="unpublished" class="publ-btn publ-btn_unpublished active">Unpublished</button>
        <%= f.hidden_field :status, value: "unpublished" %>
        </p>
        <p>Post Date</p>
        <p class="datef">
          <input type="text" placeholder="2017" class="datef-item" size="4">
          <select name="postmonth" id="postmonth" class="datef-item">
            <option value="01">January</option>
            <option value="02">February</option>
            <option value="03">March</option>
            <option value="04">April</option>
            <option value="05">May</option>
            <option value="06">June</option>
            <option value="07">July</option>
            <option value="08">August</option>
            <option value="09">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <input type="text" placeholder="26" class="datef-item" size="2">
        </p>
        <p><%= f.date_field :date %></p>
      </div>
      <div class="block">
        <p class="category-title">Category</p>
        <ul class="catlist">
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary" checked>
              <span>Tokyo Cycling Diary</span>
            </label>
          </li>
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary">
              <span>Life in Japan</span>
            </label>
          </li>
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary">
              <span>Bicycles</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="block add-del">
        <button type="button" id="create-post" class="btn btn_add">Create Post!</button>
        <%= link_to "Back", posts_path, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
<!--▲▲Content▲▲-->
