<%= form_for @post, url: url, method: method, html: {id: "post-form", class: "post-form"} do |f| %>
  <div class="main-wrap main-wrap_postf">
    <div class="block block_add-del">
      <h1 class="title"><%= title %></h1>
      <div>
        <% if page == 'new' %>
        <%= link_to "Back", posts_path, class: "btn" %><button type="button" id="create-post" class="btn btn_add">Create Post!</button>
        <% else %>
        <%= link_to "Delete Post", post_path(@post), method: :delete, data: {confirm: 'Delete this post?'}, class: "btn" %><button type="button" id="create-post" class="btn btn_add">Update Post!</button>
        <% end %>
      </div>
    </div>
    <div class="block block_nopadding input-title">
      <%= f.text_field :title, placeholder: "Post Title", class: "input", autofocus: true %>
    </div>
    <div class="postf">
      <ul class="postf-ul">
        <li class="postf-item"><button type="button" id="new-block" class="btn">New Block</button></li>
        <li class="postf-item"><button type="button" id="new-img" class="btn">New Image</button></li>
        <li class="postf-item"><button type="button" id="del-block" class="btn">Delete Block</button></li>
        <li class="postf-item"><button type="button" id="edit-block" class="btn">Edit Block HTML</button></li>
      </ul>
      <div id="postf-content" class="postf-content"><% if @post.content %><%= @post.content.html_safe %><% else %><div class="post-block"><p>Insert content here</p></div><% end %></div>
      <%= f.hidden_field :content %>
    </div>
  </div>

  <div class="pside">
    <div class="block block_padding">
      <p class="publ" id="publishwrap"><button type="button" id="published" class="publ-btn publ-btn_published">Published</button><button type="button" id="unpublished" class="publ-btn publ-btn_unpublished">Unpublished</button>
      <% if @post.status %>
      <%= f.hidden_field :status, value: @post.status %>
      <% else %>
      <%= f.hidden_field :status, value: "unpublished" %>
      <% end %>
      </p>
      <p>Post Date</p>
      <p class="datef">
        <input type="text" id="postyear" placeholder="2017" class="datef-item" size="4">
        <select name="postmonth" id="postmonth" class="datef-item">
          <option value="0">January</option>
          <option value="1">February</option>
          <option value="2">March</option>
          <option value="3">April</option>
          <option value="4">May</option>
          <option value="5">June</option>
          <option value="6">July</option>
          <option value="7">August</option>
          <option value="8">September</option>
          <option value="9">October</option>
          <option value="10">November</option>
          <option value="11">December</option>
        </select>
        <select name="postmonth" id="postday">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select>
      </p>
      <%= f.hidden_field :date %>
    </div>
    <div class="block block_flex">
      <p class="category-title">Category</p>
      <ul class="catlist">
        <% @categories.each do |category| %>
        <li class="catlist-item">
          <%= f.radio_button :category_id, category.id %>
          <%= f.label :category_id, category.category_name, value: category.id %>
        </li>
        <% end %>
      </ul>
      <% if @post.errors.any? %>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
<% end %>
