<!DOCTYPE html>
<html>
  <head>
    <title>ACBW Blog</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'blog/application' %>
    <%= javascript_include_tag 'blog/application' %>
  </head>

  <body class="body">
    <% if current_page?(home_static_url) %>
      <%= render "blog/shared/header2" %>
    <% else %>
      <%= render "blog/shared/header" %>
    <% end %>

    <%= yield %>

    <!--▼▼Doodle▼▼-->
    <div class="post-wrap">
      <div class="post-doodle">
        <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/acbw/assets/doodles/tokyo-cycling-diary-doodle.png", alt: "doodle", class: "post-doodle__img" %>
      </div>
    </div>
    <!--▲▲Doodle▲▲-->

    <!--▼▼Footer▼▼-->
    <footer class="footer">
      <p class="footer__text">Keep on Rollin!</p>
    </footer>
    <!--▲▲Footer▲▲-->

    <div id="btn-top" class="btn-top">
      <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/acbw/assets/arrow-up.svg", alt: "To top button", class: "btn-top__img" %>
    </div>

    <script>
      //load the navigation if window width under 700px
      if(window.innerWidth < 700) {spnavInit('ham-btn', 'ham-line', 'nav-menu', 'sp-header');}
      if(window.innerWidth >= 700) {catInit('nav-cat');}
      scrollTopInit('btn-top');
    </script>
  </body>
</html>
